.container-fluid {
    background-color: lightsteelblue;
    padding: 2rem;
}

.row.one {
    background-color: #d1e5ff;
    padding: 1rem;
}
.container-fluid .welcome {
    background-color: #d1e5ff;
    padding: 1rem;
}
footer {
    background-color: #d1e5ff;
    padding: 1rem;

}
.ueberschrift {
    font-size: 8vw;
}


.card {
    background-color: aliceblue;
}

.card-body {
    background-color: aliceblue;
}

[class*="col-"] {
    padding: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

hr {
    border-top: 2px solid #3f3f3f;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.card hr {
    border-top: 2px solid #c9c9c9;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
